* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    background: #ecf0f3;
}

.menus {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 30px;
    margin-bottom: 5px;
}

.logo {
    margin-left: 290px;
}

.menu ul{
    display: flex;
    margin-top: 25px;
    font-size: 25px;
}

.menu li{
    list-style: none;
    margin-right: 40px;
}

.menu a {
    text-decoration: none;
    transform: translate(-50%,-50%);
    color: #728dad;
    text-shadow: -9px -9px 14px #ffffff,
                9px 9px 14px #cbced1;
    outline: none;
}

.login-form{
    display: flex;
    margin: 30px 0;
}

.login-form button{
    margin-left: 10px;
    /* width: 60px; */
    height: 30px;
}

.signin-button {
    outline: none;
    border:none;
    cursor: pointer;
    width:25%;
    height: 100px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color:#fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
  }
  .signin-button:hover {
    background:#2fdbb6;
  }
  .signin-button:active {
    background:#1da88a;
  }

  .signup-button {
    outline: none;
    border:none;
    cursor: pointer;
    width:25%;
    height: 100px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color:#fff;
    text-align: center;
    background: #000000;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
  }

  .signup-button:hover {
    background:#343636;
  }
  .signup-button:active {
    background:#05221c;
  }
  
  .jumbotron {
    margin: 0 auto;
    width: 100%;
    background-image: url('images/waves.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 550px;
  }

  .jumbotron-txt{
      margin: 0 auto;
      width: 60%;
      padding-left: 120px;
  }

  .jumbotron-txt h1 {
      margin-top: 20%;
      font-size: 40px;
      font-weight: bold;
  }

  .jumbotron-txt h2 {
    font-size: 40px;
    font-weight: lighter;
}

.jumbotron p {
    font-size: 20px;
}

  .jumbotron-icon svg{
      width: 300px;
      margin-left: 30px;
      margin-top: -75px;
  }

  .fields {
      text-align: center;
      width: 100%;
      padding: 75px 5px 5px 5px;
      margin-top: -260px;
  }

  .fields input {
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color: #555;
    padding:20px 10px 20px 5px;
    width: 35%;
    text-align: center;
  }

  /* .fields button{
      width: 30px;
      position: absolute;
      top: 180px;
      margin-left: 10px;
  } */

  .username {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
  }

  .keterangan {
    width: 700px;;
    height: 140px;
    padding: 60px 35px 35px 35px;
    border-radius: 20px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
    margin: 0 auto;
    position: relative;
    top: 23px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .note{
      display: flex;
  }

  .note-image{
      margin-top: -50px;
  }

  .information {
    margin-top: -40px;
    margin-left: 10px;
  }

  .information h3 {
      font-size: 40px;
      font-weight: bold;
  }

  .information p {
      font-size: 18px;
  }

  .title-kampus {
      font-size: 40px;
      text-align: center;
      margin-top: 120px;
      margin-bottom: -20px;
  }

  .kampus {
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-width: 1200px;
      padding: 40px 0;
  }

  .card {
      position: relative;
      min-width: 320px;
      height: 440px;
      box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                -5px -5px 5px rgba(255,255,255,0.5),
                -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 30px;
  }

  .kampus .card .box {
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      background: #ebf5fc;
      box-shadow: 0 10px 20px rgba(0,0,0,0.1);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
  }

  .kampus .card:hover .box {
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    background: linear-gradient(45deg, #b95ce4, #4f29cd);
  }

  .content {
      padding: 20px;
      text-align: center;
  }

  .kampus .card .box .content h2 {
      color: #777;
      z-index: 1;
      transition: 0.5s;
  }

  .kampus .card .box .content h3 {
    color: #777;
    z-index: 1;
    transition: 0.5s;
  }

  .kampus .card .box .content .kampus-info p {
    color: #777;
    font-weight: 300;
    z-index: 1;
    transition: 0.5s;
  }

  .kampus .card:hover .box .content h2,
  .kampus .card:hover .box .content h3,
  .kampus .card:hover .box .content .kampus-info p {
      color: #fff;
  }

  .kampus .card .box .content button {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }

  .kampus .card:hover .box .content button{
      background: #ff568f;
  }

  .card-lokasi {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding: 40px 0;
}

  .kampuss, .beasiswa, .seminar, .lomba, .lowongan, .utbk {
    align-items: center;
      width: 650px;
      height: 300px;
      background-repeat: no-repeat;
  }

  .kampuss h3,
  .beasiswa h3,
  .seminar h3,
  .lomba h3,
  .lowongan h3,
  .utbk h3{
    font-size: 40px;
    opacity: 0.9;
    text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.8);
    /* height: 300px; */
    transition: 0.3s;
    text-align: center;
    margin-top: 18%;
  }

  .kampuss:hover h3,
  .beasiswa:hover h3,
  .seminar:hover h3,
  .lomba:hover h3,
  .lowongan:hover h3,
  .utbk:hover h3{
    font-size: 60px;
    opacity: 0.9;
    text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.8);
  }

  .kampuss {
    background: linear-gradient(
      38deg,
      rgba(43, 203, 205, 0.7) 0%,
      rgba(84, 232, 176, 0.7) 46%,
      rgba(130, 255, 65, 0.7) 100%
    ),
    url("images/college1.jpg");
    /* height: 300px; */
    transition: 0.3s;
  }

  .beasiswa {
    background: rgb(238, 9, 121);
    background: linear-gradient(
        29deg,
        rgba(244, 196, 243, 0.7) 0%,
        rgba(252, 103, 250, 0.7) 100%
      ),
      url("images/scholarship1.jpg");
      transition: 0.3s;
  }
  
  .seminar {
    background: linear-gradient(
        42deg,
        rgba(15, 9, 124, 0.7) 0%,
        rgba(73, 73, 213, 0.7) 35%,
        rgba(0, 212, 255, 0.7) 100%
      ),
      url("images/workshop1.jpg");
      transition: 0.3s;
  }
  
  .lomba {
    background: rgb(238, 9, 121);
    background: linear-gradient(
        27deg,
        rgba(238, 9, 121, 0.7) 0%,
        rgba(255, 106, 0, 0.7) 100%
      ),
      url("images/utbk1.jpg");
      transition: 0.3s;
  }
  
  .lowongan {
    background: rgb(238, 9, 121);
    background: linear-gradient(
        29deg,
        rgba(252, 234, 187, 0.7) 0%,
        rgba(248, 181, 0, 0.7) 100%
      ),
      url("images/job1.jpg");
      transition: 0.3s;
  }
  
  .utbk {
    background: rgb(238, 9, 121);
    background: linear-gradient(
        29deg,
        rgba(44, 62, 80, 0.7) 0%,
        rgba(253, 116, 108, 0.7) 100%
      ),
      url("images/lomba1.jpg");
  }

